---

image:
  name: maven:3.8-openjdk-17

variables:
  MAVEN_OPTS: "-Xmx256m"

stages:
  - build
  - deploy
  - trigger

maven-build:
  stage: build
  environment: staging
  script:
    - "mvn package"
  tags:
    - docker

maven-deploy:
  stage: deploy
  environment: staging
  script:
    - "mvn deploy -DperformRelease"
  only:
    - /^main$/
    - /^dev$/
    - /^ft-.*-deploy$/
    - /^rl-.*$/
    - /^hf-.*$/
  tags:
    - docker

trigger:
  stage: trigger
  trigger:
    project: igloo-project/igloo-commons
    branch: $CI_COMMIT_BRANCH
  only:
    - /^dev$/
